<div class="row">
    <div class="col-sm-8">
        <h1>CONTACT</h1>

        <p>Please contact me if you are interested in…</p>

        <ul>
			<li>Purchasing a painting</li>
			<li>Commissioning me for a personal piece or mural</li>
			<li>Assistance with graphic design</li>
			<li>Having me be a part of your event as a live artist</li>
		</ul>

		<p>I’m looking forward to working with you!</p>

		<p>
			<a href="mailto:info@kristinwhitney.com"><img ng-src="images/icon-email.png" width="32" height="32" /></a>&nbsp;
			<a href="http://www.facebook.com/KristinWhitneyArt" target="_blank"><img ng-src="images/icon-facebook.png" width="32" height="32" /></a>&nbsp;
			<a href="http://www.pinterest.com/whittyk/" target="_blank"><img ng-src="images/icon-pinterest.png" width="32" height="32" /></a>&nbsp;
			<a href="http://www.linkedin.com/pub/kristin-whitney/75/7a5/45b" target="_blank"><img ng-src="images/icon-linkedin.png" width="32" height="32" /></a>&nbsp;
			<a href="http://instagram.com/cleverandartsy" target="_blank"><img ng-src="images/icon-instagram.png" width="32" height="32" /></a>
		</p>
    </div>
</div>