<div class="row">
    <div class="col-sm-8">
        <h1>ABOUT</h1>

        <p>Discovering the artist’s heart within me began at a young age while growing up in rural Pennsylvania and delving into watercolor painting and any kind of art I could get my child-size hands on. I quickly learned that I l-o-v-e color and lots of it. Whether the color is in perfect chromatic order or bright pops, it inspires, draws, excites, and brings my spirit to life. It’s what I see when I close my eyes and what I remember when I walk away. Color and texture across a canvas are the heart and soul of my love for visual art.</p>

        <p>I am a woman of artistic variety, working in oils, acrylics and watercolors, and enjoy creating abstracts, realistic still-life’s and landscapes, murals and even fun patterns. Nature stirs me and while I may depict a minute detail of real-life in one painting, I will portray a nature-inspired abstract color combination in another. I want my work to showcase beauty, color, and in some cases, share a story.</p>

        <p>Currently living and working in central Indiana, I draw inspiration from artists who use bold colors and shapes such as Wolf Kahn, Emily Mason, Mark Rothko, Henri Matisse, Paul Cézanne, Georgia O’Keefe and Susan Hodgin.</p>

        <p>I am a member and displaying artist at the CCA Gallery in Zionsville, IN</p>
    </div>
</div>