<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-xs-10">
                <h2>Pieces ({{ (pieces | filter:search | filter:filterByProperties).length }})</h2>
            </div>
            <div class="col-xs-2">
                <p class="visible-xs pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Filter</button>
                </p>
            </div>
        </div>
        <div id="video-list" class="row">
            <div class="col-xs-6 col-sm-4" ng-repeat="p in filtered = (pieces | filter:search | filter:filterByProperties | limitTo:itemsPerPage)">
                <a ng-href="#/piece/{{ p.id }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img ng-src="{{ p.images.thumbnail }}" class="img-responsive" />
                        </div>
                        <div class="panel-footer">
                            {{ p.title }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn" href="#" ng-class="nextPageDisabledClass()" ng-click="loadMore()">Load More</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4 sidebar-offcanvas" role="navigation">
        <!-- Type Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Types</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="t in type" ng-init="filter['type']={}">
                        <input type="checkbox" ng-model="filter['type'][t.name]" />&nbsp;{{ t.name }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Series Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Series</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="s in series" ng-init="filter['series']={}">
                        <input type="checkbox" ng-model="filter['series'][s.name]" />&nbsp;{{ s.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>